* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --lightbrown: rgba(216, 121, 63, 0.85);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(156, 65, 9, 0.7);
    color: white;
    height: 100vh;
    background-image: url("./img/bg_library.jpg");
}

header {
    /*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    */
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}

h1 {
    text-align: center;
    font-size: clamp(36px, 5vw, 6vw);
}

h2 {
    text-align: center;
    font-size: clamp(max(2vw, 18px), 24px, 4vw);
}

main {
    margin-bottom: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-areas: 
        "overview"
        "buttons"
        "details";
    justify-content: center;
    align-items: start;
    gap: 24px;
}

#overview {
    grid-area: overview;
    padding: 2rem;
    background-color: var(--lightbrown);
    border-radius: 18px;
}

#book-list ul {
    display: grid;
    justify-content: start;
    
}

#book-list li {
    min-width: clamp(80vw, 300px, 90vw);
    list-style-type: none;
    padding: 0.1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    align-items: center;
}

#book-list li:hover {
    color: black;
}

#book-list li:hover > span {
    text-decoration: wavy;
}

.info {
    cursor: pointer;
}

svg > path {
    fill: white;
    stroke: white;
}

.icon-button {
    border-radius: 50%;
    padding: 0.1rem;
    cursor: pointer;
}

.icon-button:hover {
    scale: 1.15;
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    padding: 12px 24px; 
    border-radius: 25px;
    font-weight: 600;
    border: none;
    background-color: var(--lightbrown);
    color: white;
    font-size: larger;
    cursor: pointer;
}

button:hover {
    font-weight: 1000;
    scale: 1.15;
}

#details {
    grid-area: details;
    padding: 2rem;
    background-color: var(--lightbrown);
    border-radius: 18px;
}

#details form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: auto;
    gap: 10px;
}

#details form > div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 4fr;
    
}

#details > form label {
    grid-column: 1 span 1;
}

#details > form input {
    grid-column: 2 span 1;
}

#add-button-bottom {
    width: 72px;
    height: 72px;
    grid-column: 1 / 3;
    align-self: center;
}

footer {
    position: fixed;
    height: min-content;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    text-align: center;
    padding: 12px 12px;
    background-color:
        var(--lightbrown);
    box-shadow: 0px -15px 120px 65px rgba(216, 121, 63, 1);
}